{% extends 'base.html' %}
{% block body %}
 
<div class="text-center">
    <h1>Delete file</h1>
</div>
    
<section class="section-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="form">
                <!-- -->
                <div class="alert alert-success" role="alert"> Delete the files! Success </div>
                <div class="text-center">
                    <a href="file_list.php"> <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Back</a>
                </div>
                <!-- -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}