{% extends 'base.html' %}
{% block body %}
 
<div class="text-center">
    <h1>File share</h1>
</div>
 
<section class="section-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div>
                <!-- -->
                <table class="table table-bordered">
                    <tr>
                        <th width="10%" style="text-align: center;">No.</th>
                        <th style="text-align: center;">File</th>
                        <th width="15%" style="text-align: center;">Date</th>
                        <th width="25%" style="text-align: center;">Action</th>
                    </tr>
                    <tbody>
                        {% for file in files %}
                        <tr>
                            <td style="text-align: center;">{{file['no']}}</td>
                            <td>{{file['file_name']}}</td>
                            <td style="text-align: center;">
                                {{ file['file_date']|date('d/m/Y H:i') }}
                            </td>
                            <td style="text-align: center;">
                                {% if file['role_download'] == '1' %}
                                <button type="button" class="btn btn-success btn-sm download"  data-id="{{file['file_id']}}"><i class="fa fa-download" aria-hidden="true"></i> Download</button>
                                {% endif %}
                                {% if file['role_edit'] == '1' %}
                                <button type="button" class="btn btn-primary btn-sm edit"  data-id="{{file['file_id']}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                                {% endif %}
                                {% if file['role_delete'] == '1' %}
                                <button type="button" class="btn btn-danger btn-sm delete" data-id="{{file['file_id']}}"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form method="post" action="upload.php" enctype="multipart/form-data"">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">เพิ่มไฟล์</h4>
            </div>
            <div class="modal-body">
            <!-- -->
            <div class="form-group">
                <label for="exampleInputFile">ไฟล์</label>
                <input type="file" name="file">
                <p class="help-block">เลือกไฟล์ที่ต้องการอัพโหล</p>
            </div>
            <b>สิทธิ์การเข้าถึงไฟล์</b>
            <table class="table table-bordered">
                <tr>
                    <th style="text-align: center;">ชื่อ</th>
                    <th width="20%" style="text-align: center;">สิทธิ์การแก้ไข</th>
                    <th width="25%" style="text-align: center;">สิทธิ์การดาวน์โหลด</th>
                </tr>
                <tbody>
                    {% for member in members %}
                    <tr>
                        <td>{{ member['member_name']}}</td>
                        <td style="text-align: center;">
                            <input type="checkbox" name="file_acc_edit[{{ member['member_id'] }}]" value="1">
                        </td>
                        <td style="text-align: center;">
                            <input type="checkbox" name="file_acc_download[{{ member['member_id'] }}]" value="1">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- -->
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary"><i class="fa fa-upload" aria-hidden="true"></i> อัพโหลด</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script>

$(document).ready(function() {
    $('.delete').on('click',function(){
        var con = confirm("ลบไฟล์?");
        if(con===true){
            var data_id = $(this).data("id");
            window.location = 'del_file.php?id='+data_id;
        }
    });

    $('.download').on('click',function(){
        var data_id = $(this).data("id");
        window.location = 'download_file.php?id='+data_id;
    });

    $('.edit').on('click',function(){
        var data_id = $(this).data("id");
        window.location = 'edit.php?id='+data_id;
    });

});
</script>
{% endblock %}